body{
	margin: 0px;
	background-color: skyblue;
}
/* .........header..........*/
#header{
    position: fixed;
}
#header span{
    height: 30px;
    margin: 10px;
}
#header .logo a{
    font-size: 20px;
    font-family: helvetica, sans-serif;
    color: cyan;
    text-decoration: none;
    color: cyan;
}
#header img{
	height: 70px;
	width: 70px;
	border-radius: 50px;
	float: right;
    margin-right: 20px;
    margin-top: -15px;
	background-color: cyan;
    border: 2px solid cyan;
}
#header #user{
	text-transform: uppercase;
    margin-top: 30px;
    margin-right: 5px;
    width: auto;
}
#header {
	height: 80px;
    width: 100%;
    border: 1px solid #222;
    background-image: linear-gradient(#444, #111);
}

#header ul {
    position: absolute;
    right: 90px;
    margin-top: -50px;        
    border-radius: 3px;
    font-size: 18px;
}
#header ul li a{
	color: cyan;
	text-decoration: none;
}
#header ul ul{
	visibility: hidden;
	text-decoration: none;
}
#header li:hover > ul {
    visibility: visible;
    margin-top: 0px;
    background: linear-gradient(#444, #111);
}
#header ul ul {
    top: 75;
    width:100px;
    right: 0px;
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}
#header ul li {
    float: none;
    display: block;
    border: 0;
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}
#header ul ul li{
	text-decoration: none;
	list-style: none;
	float: left;
}
#header ul li:last-child {   
    box-shadow: none;    
}
#header ul a {    
    padding: 10px;
    width: 80px;
    _height: 10px; /*IE6 only*/
    display: inline-block;
    white-space: nowrap;
}
#header ul ul:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}
#header ul ul li:first-child > a:after {
    content: '';
    position: absolute;
    right: 60px;
    top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #444;
}
#header ul ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}
#header ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}
/* ..........end of header............*/

/* ..........left menus.............*/
#left_menus{
	float: left;
	height: 88.4%;
	width: 200px;
    margin-top: 80px;
    background: linear-gradient(#444, #111);
}
#left_menus_pc{
    height: 180px;
    width: 100%;
    border-bottom: 2px solid cyan;
}
#left_menus_pc img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 20px;
    border:2px solid cyan;
    background-color: white;
}
#left_menus ul{
    height: auto;
    width: 159px;
    margin-left: 0px;
    margin-top: 0px; 
}
#left_menus ul a{
    text-decoration: none;
}
#left_menus ul li{
    color: cyan;
    height: 40px;
    border-bottom: 1px solid gray;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: -40px;
    padding: 15;
}
#left_menus ul li:hover{
    border-left: 3px solid cyan;
    color: orange;
}
/* ..........end of left menus effects.............*/

/* ............main body...........*/
.content{
    margin-top: 7%;
    float: right;
    height: 35px;
    width: 80%;
}
.content h2{
    margin-top: 0px;
    margin-left: 10px;
}
.content_place{
    float: right;
    margin-top: -40px;
    margin-right: 10px;
  font-size: 12px;
  position: absolute;
  right: 10px;
  border-radius: 2px;
}
.content_place > li > a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}
.content_place > li > a > .fa,
.content_place > li > a > .glyphicon,
.content_place > li > a > .ion {
  margin-right: 5px;
}
.content_place > li + li:before {
  content: '> \00a0';
}
.content_place > li{
    list-style: none;
    display: inline-table;
    margin: 5px;
    color: #0186ba;
}
.main_content{
    height: 80%;
    width: 83%;
    float: right;
}
.main_content .content1,
.main_content .content2,
.main_content .content3,
.main_content .content4{
    height: 26%;
    width: 24%;
    margin-right: 10px;
    float: left;
    border-radius: 12px 12px 0px 0px;
    border-top: 4px solid #ccc;
}
.main_content .content1{
    background-color: #129ede;
}
.main_content .content2{
    background-color: #a0000a;
}
.main_content .content3{
    background-color: #983eaa;
}
.main_content .content3{
    background-color: #983eaa;
}
.main_content .content4{
    background-color: #981190;
}
.main_content .content1 .content_data,
.main_content .content2 .content_data,
.main_content .content3 .content_data,
.main_content .content4 .content_data{
    height: 25px;
    width: 100%;
    background-color: #ccc;
}
.main_content .content1 .content_data span,
.main_content .content2 .content_data span,
.main_content .content3 .content_data span,
.main_content .content4 .content_data span{
    margin-left: 100px;
    margin-top: 50px;
    color: #0186ba;
    font-family: hervetica,sans-serif;
}
.main_content .content1 .content_data span > a,
.main_content .content2 .content_data span > a,
.main_content .content3 .content_data span > a,
.main_content .content4 .content_data span > a{
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}
#records{
    height: 110px;
    width: 100%;
}
#records h3{
    color: white;
    text-align: left;
    font-size: 30px;
    margin-left: 10%;
}
#records p{
    color: white;
    text-align: center;
    font-size: 20px;
}
/* ............end of dashboard effects...........*/


/* ............my profile effects...........*/
#container{
    height: 450px;
    width: 350px;
    background-color: white;
    float: left;
    border-radius: 5px 5px 0 0;
    border-top: 4px solid blue;
}
#profile_img{
    height: 250px;
    width: 350px;
    margin-top: 0px;
    border-bottom: 1px solid blue;
}
#profile_img img{
    height: 150px;
    width: 150px;
    margin-left: 25%;
    background-color: skyblue;
    border:3px solid cyan;
    border-radius: 50%;
}
#profile_img h3,
#profile_img p{
    text-align: center;
}
#profile_img h3{
    font-family: hervetica,helvetica, sans-serif;
}
#profile_img p{
    font-family: hervetica,helvetica, sans-serif;
    color: gray;
}
#container ul li{
    height: 30px;
    width: 315px;
    margin-left: -20px;
    border-bottom: 2px solid cyan; 
    text-decoration: none;
    list-style: none;
}
#container ul li a{
    text-decoration: none;
    color: blue;
    float: right;
    font-size: 20px;
}
#probtn{
    height: 35px;
    width: 200px;
    float: right;
    background-color: #ccc;
    border-radius: 5px;
    border:1px;
    font-family: hervetica,helvetica,sans-serif;
    font-size: 15px;
    text-align: center;
    margin-right: 18px;
    margin-top: 20px;
}
#probtn:hover{
    background-color: #ccc111;
    cursor: pointer;
}
#container input{
    margin-left: 20px;
}
#container_right{
    height: 450px;
    width: 770px;
    margin-right: 20px;
    background-color: white;
    float: right;
    border-radius: 5px 5px 0 0;
    border-top: 4px solid blue;
}
#container_right h3{
    font-family: hervetica,helvetica,sans-serif;
    margin-left: 20px;
}
#form_group{
    height: 55px;
    width: 730px;
    margin-left: 20px;
}
#form_group .form-control{
    height: 35px;
    width: 690px;
    font-family: hervetica, helvetica,sans-serif;
    font-size: 18px;
    margin-top: 10px;
    border:1px solid gray;
}
.submit_div{
    height: 60px;
    width: 730px;
    margin-left: 20px;
    margin-left: -0px;
}
.submit_div .submitbtn{
    height: 35px;
    width: 200px;
    float: right;
    background-color: #ccc;
    border-radius: 5px;
    border:1px;
    font-family: hervetica,helvetica,sans-serif;
    font-size: 15px;
    text-align: center;
    margin-right: 20px; 
    margin-top: 10px;
}
.submit_div .submitbtn:hover{
    background-color: #ccc111;
    cursor: pointer;
}
/* ..........end My profile effects.............*/

/* ............Add user effects...........*/
.main_content .frm{
    height: 390px;
    width: 98%;
    margin-right: 20px;
    background-color: white;
    float: right;
    border-radius: 5px 5px 0 0;
    border-top: 4px solid blue;
}
.frm h3{
    font-family: hervetica,helvetica,sans-serif;
    margin-left: 20px;
}
.frm .input_field{
    height: 35px;
    width: 97%;
    font-family: hervetica, helvetica,sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
    border:1px solid gray;
}
.frm .btn{
    height: 35px;
    width: 200px;
    float: right;
    background-color: #ccc;
    border-radius: 5px;
    border:1px;
    font-family: hervetica,helvetica,sans-serif;
    font-size: 15px;
    text-align: center;
    margin-right: 20px; 
    margin-top: 10px;
}
.frm .btn:hover{
    background-color: #ccc111;
    cursor: pointer;
}
#data_disp{
    height: 390px;
    overflow: scroll;
    width: 98%;
    margin-right: 20px;
    background-color: white;
    float: right;
    border-radius: 5px 5px 0 0;
    border-top: 4px solid blue;
}
#data_disp h3{
    font-family: hervetica,helvetica,sans-serif;
    margin-left: 20px;
}
#data_disp #heada{
    height: 70px;
    width: 98%;
    margin-left: 10px;
    background-color: #100678;
    border-left: 5px solid orange;
}
#data_disp #heada p{
    color: white;
    font-family: verdena,sans-serif;
    font-size: 18px;
    padding: 25px;
}
#table{
    width: 98%;
    background-color: cyan;
    font-family: verdena,sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 20px;
    border-top: 1px solid gray;
}
#table th{
    text-align: left;
}
#table td{
    height: auto;
    width: 30px;
    border-bottom: 1px solid gray;
    font-family: hervetica,helvetica,sans-serif;
    margin-left: 10px;
}
#table #user_btn{
    color: white;
    height: 30px;
    width: 100px;
    border:none;
    margin-top: 10px;
    background-color: blue;
    font-size: 16px;
}
#table #user_btn:hover{
    cursor: pointer;
    background-color: #ccc111;
}
#cont{
    height: 450px;
    width: 82%;
    margin-right: 20px;
    background-color: white;
    float: right;
    border-radius: 5px 5px 0 0;
    border-top: 4px solid blue;
}